ul {
    position: relative;
    transform: skewY(-17.5deg);
}
li {
    position: relative;
    list-style: none;
    width: 200px;
    padding: 15px;
    background: #2c2e33;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    z-index: calc(1 * var(--i));
    transition: 0.5s;
}
li:hover {
    background: #33ef43;
    color: rgb(51, 51, 42);
    transform: translateX(-50px);
}
li::before {
    font-family: "FontAwesome";
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: rgb(31, 32, 24);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
li:hover::before {
    background: #25cc7b;
}
li::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: #2c2e33;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
li:hover::after {
    background: #17722e;
}
li a {
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: 0.5s;
}
li:hover a {
    color: #fff
}
li:last-child::after {
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}
aside {
    margin-left: 10%;
}
body {
    background: #2c2e33;
}

.tvbox::before {
    font-family: "FontAwesome";
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: 530px;
    width: 40px;
    height: 100%;
    background: rgb(31, 32, 24);
    transform-origin: left;
    transform: skewY(135deg);
}
.tvbox {
    margin: auto auto auto 40%;
    position: relative;
    transform-origin: right;
    transform: skewY(7.5deg);
    width: 500px;
    height: 50%;
    padding: 15px;
    background: #2c2e33;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}
.tvbox::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: rgb(31, 32, 24);
    transform-origin: bottom;
    transform: skewX(-45deg);
    transition: 0.5s;
}
.tvbox h4 {
    text-decoration: none;
    color: #04752a;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.25em;
    line-height: 1.25em;
}

header {
    background: #2c2e33;
    display: block;
    margin: auto;
    width: 15%;
    height: 7.5%;
    padding: 1%;
    text-align: center;
    color: #999;
}
header i {
    font-size: 20px;
    margin-top: 10%;
    text-transform: none;
    letter-spacing: 0.2em;
    font-size: 10px;
}
.user-cmd {
    background-color: #555;
    color: #00ff00
}
.uncaps {
    text-transform: none;
}
a {
    text-decoration: none;
}